<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.mapper.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.kgc.pojo.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goodsName" property="goodsname" jdbcType="VARCHAR" />
    <result column="billStatus" property="billstatus" jdbcType="INTEGER" />
    <result column="goodsDistrict" property="goodsdistrict" jdbcType="INTEGER" />
    <result column="goodsPrice" property="goodsprice" jdbcType="REAL" />
    <result column="goodsCount" property="goodscount" jdbcType="INTEGER" />
    <result column="creationTime" property="creationtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, goodsName, billStatus, goodsDistrict, goodsPrice, goodsCount, creationTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kgc.pojo.GoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.pojo.GoodsExample" >
    delete from goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.pojo.Goods" >
    insert into goods (id, goodsName, billStatus, 
      goodsDistrict, goodsPrice, goodsCount, 
      creationTime)
    values (#{id,jdbcType=INTEGER}, #{goodsname,jdbcType=VARCHAR}, #{billstatus,jdbcType=INTEGER}, 
      #{goodsdistrict,jdbcType=INTEGER}, #{goodsprice,jdbcType=REAL}, #{goodscount,jdbcType=INTEGER}, 
      #{creationtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.pojo.Goods" >
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsname != null" >
        goodsName,
      </if>
      <if test="billstatus != null" >
        billStatus,
      </if>
      <if test="goodsdistrict != null" >
        goodsDistrict,
      </if>
      <if test="goodsprice != null" >
        goodsPrice,
      </if>
      <if test="goodscount != null" >
        goodsCount,
      </if>
      <if test="creationtime != null" >
        creationTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsname != null" >
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="billstatus != null" >
        #{billstatus,jdbcType=INTEGER},
      </if>
      <if test="goodsdistrict != null" >
        #{goodsdistrict,jdbcType=INTEGER},
      </if>
      <if test="goodsprice != null" >
        #{goodsprice,jdbcType=REAL},
      </if>
      <if test="goodscount != null" >
        #{goodscount,jdbcType=INTEGER},
      </if>
      <if test="creationtime != null" >
        #{creationtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.pojo.GoodsExample" resultType="java.lang.Integer" >
    select count(*) from goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update goods
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.goodsname != null" >
        goodsName = #{record.goodsname,jdbcType=VARCHAR},
      </if>
      <if test="record.billstatus != null" >
        billStatus = #{record.billstatus,jdbcType=INTEGER},
      </if>
      <if test="record.goodsdistrict != null" >
        goodsDistrict = #{record.goodsdistrict,jdbcType=INTEGER},
      </if>
      <if test="record.goodsprice != null" >
        goodsPrice = #{record.goodsprice,jdbcType=REAL},
      </if>
      <if test="record.goodscount != null" >
        goodsCount = #{record.goodscount,jdbcType=INTEGER},
      </if>
      <if test="record.creationtime != null" >
        creationTime = #{record.creationtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update goods
    set id = #{record.id,jdbcType=INTEGER},
      goodsName = #{record.goodsname,jdbcType=VARCHAR},
      billStatus = #{record.billstatus,jdbcType=INTEGER},
      goodsDistrict = #{record.goodsdistrict,jdbcType=INTEGER},
      goodsPrice = #{record.goodsprice,jdbcType=REAL},
      goodsCount = #{record.goodscount,jdbcType=INTEGER},
      creationTime = #{record.creationtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.pojo.Goods" >
    update goods
    <set >
      <if test="goodsname != null" >
        goodsName = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="billstatus != null" >
        billStatus = #{billstatus,jdbcType=INTEGER},
      </if>
      <if test="goodsdistrict != null" >
        goodsDistrict = #{goodsdistrict,jdbcType=INTEGER},
      </if>
      <if test="goodsprice != null" >
        goodsPrice = #{goodsprice,jdbcType=REAL},
      </if>
      <if test="goodscount != null" >
        goodsCount = #{goodscount,jdbcType=INTEGER},
      </if>
      <if test="creationtime != null" >
        creationTime = #{creationtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.pojo.Goods" >
    update goods
    set goodsName = #{goodsname,jdbcType=VARCHAR},
      billStatus = #{billstatus,jdbcType=INTEGER},
      goodsDistrict = #{goodsdistrict,jdbcType=INTEGER},
      goodsPrice = #{goodsprice,jdbcType=REAL},
      goodsCount = #{goodscount,jdbcType=INTEGER},
      creationTime = #{creationtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>